@{
    Layout = null;

}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/login.css" rel="stylesheet" />
<body>
    <br />
    <div class="row">
        <div class="col-5 pl-5">
            <a class="h1"><b>Maria C</b> Stilos</a>
        </div>
    </div>
    <br />

    <div class="container-fluid">
        <div class="row">
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg h3">Restaurar contraseña</p>
                <br />
                <div class="alert alert-success" role="alert">
                    Link de recuperación enviado con éxito al correo.
                </div>
                <div>
                    <a asp-action="Login">Volver</a>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
