@model Stilosoft.ViewModels.ProductoViewModel
@{
    ViewData["Title"] = "CrearProducto";
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <form asp-action="CrearPro" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProductoId" />
                <input type="hidden" asp-for="RutaImagen" />

                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categoria" class="control-label"></label>
                    <input asp-for="Categoria" class="form-control" />
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="form-label"></label><br />
                    <input type="file" asp-for="Imagen" accept="image/*" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@section Scripts {

}