@model Stilosoft.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Editar insumo";
    Layout = null;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <form asp-action="EditarProducto" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProductoId" />
                <input type="hidden" asp-for="RutaImagen" />
                <input type="hidden" asp-for="Estado" />

                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="form-label"></label><br />
                    <input type="file" asp-for="Imagen" accept="image/*" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
