
@{
    ViewData["Title"] = "Agregar servicio";
    Layout = null;
}

<div class="container-fluid">
    <form href="#" enctype="multipart/form-data">
        <div class="form-inline">
            <div class="form-group">
                <label class="control-label mr-5">Servicio:* </label>
                <select class="form-control">
                    <option>Seleccionar</option>
                    <option>Corte</option>
                    <option>Cepillado</option>
                    <option>Planchado</option>
                </select>
            </div>
        </div>
        <br />
        <p>Total: 35.000</p>
        <br />
        <a class="btn btn-primary mr-2"> Agregar</a>
        <a class="btn btn-primary"> Cancelar</a>
    </form>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@section Scripts {

}