@model Stilosoft.ViewModels.Estilistas.EstilistaViewModel

@{
    ViewData["Title"] = "Editar estilista";
    Layout = null;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Editar" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="EstilistaId" />
                <input type="hidden" asp-for="Estado" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input type="date" asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cedula" class="control-label"></label>
                    <input asp-for="Cedula" class="form-control" />
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Celular" class="control-label"></label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
                      alertify.alert('Error', '@TempData["Mensaje"]', function(){ alertify.alert('Error'); });
                     </text>
            }
    </script>
}