@model Stilosoft.ViewModels.Usuarios.UsuarioViewModel

@{
    ViewData["Title"] = "Registrar cliente";
    Layout = null;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Crear" method="post">
                <div class="input-group mb-3">
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Apellido" class="form-control" placeholder="Apellido">
                    <div class="input-group-append">
                        <div class="input-group-text">

                        </div>
                    </div>
                </div>
                <span asp-validation-for="Apellido" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Numero" class="form-control" placeholder="Numero">
                    <div class="input-group-append">
                        <div class="input-group-text">

                        </div>
                    </div>
                </div>
                <span asp-validation-for="Numero" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Documento" class="form-control" placeholder="Documento">
                    <div class="input-group-append">
                        <div class="input-group-text">

                        </div>
                    </div>
                </div>
                <span asp-validation-for="Documento" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Contraseña">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <!-- /.col -->
                    <div class="col-7">
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

