@model Stilosoft.Model.Entities.Insumo

@{
    ViewData["Title"] = "Eliminar";
}

<form asp-action="EliminarInsumo">
    <input type="hidden" asp-for="InsumoId" />
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
</form>
