<!-- Main Footer -->
<footer class="main-footer" id="footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Stilosoft
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2021 <a>Stilosoft</a>.</strong> Todos los derechos reservados.
</footer>