@using Microsoft.AspNetCore.Http

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="container" id="menu">
        <p asp-action="index" asp-controller="Clientes" class="brand-link">
            Stilosoft
        </p>
        <div class="user-panel mt-3 pb-3  d-flex">            
            <div class="info">
                <a class="d-block">Bienvenido: @Context.Session.GetString("_Nombre")</a>
            </div>
        </div>
    </div>
    
    <!-- Sidebar -->
    <div class="sidebar" id="menu-opciones">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-action="index" asp-controller="Roles" class="nav-link">
                        <i class="fas fa-cog"></i>
                        <p>
                            CONFIGURACIÓN
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="index" asp-controller="Usuarios" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>
                            USUARIOS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-shopping-cart"></i>
                        <p>
                            COMPRAS   
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-handshake"></i>
                                <p>Proveedores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Insumo" class="nav-link">
                                <i class="fas fa-people-carry"></i>
                                <p>Insumos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Compras" class="nav-link">
                                <i class="fas fa-shopping-bag"></i>
                                <p>Compras</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-store-alt"></i>
                        <p>
                            PRODUCTOS/SERVICIOS 
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Producto" class="nav-link">
                                <i class="fab fa-product-hunt"></i>
                                <p>Productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Estilistas" class="nav-link">
                                <i class="fas fa-vest"></i>
                                <p>Estilistas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Servicios" class="nav-link">
                                <i class="fas fa-cut"></i>
                                <p>Servicios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-calendar-check"></i>
                                <p>Programación agenda</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-cash-register"></i>
                        <p>
                            VENTAS  
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Clientes" class="nav-link">
                                <i class="fas fa-users"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Citas" class="nav-link">
                                <i class="fas fa-calendar-alt"></i>
                                <p>Citas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-calendar-plus"></i>
                                <p>Solicitudes de servicios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-balance-scale"></i>
                                <p>Ventas</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-chart-pie"></i>
                        <p>
                            INFORMES 
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-chart-pie"></i>
                                <p>Comportamiento de ventas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-chart-bar"></i>
                                <p>Comportamiento de servicios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">                                
                                <p>Comportamiento de clientes</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>