@model Stilosoft.ViewModels.ComprasViewModel
@{
    ViewData["Title"] = "Crear Compra";
    Layout = null;
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 mr-md-4">
            <a href="#" class="btn btn-secondary">Productos</a>
        </div>
        <div class="col-md-1 mr-md-4">
            <a href="#" class="btn btn-primary">Estilistas</a>
        </div>
        <div class="col-md-1 mr-md-4">
            <a asp-action="index" asp-controller="Servicios" class="btn btn-primary">Servicios</a>
        </div>
        <div class="col-md-5">
            <a href="#" class="btn btn-primary">Programación agenda</a>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CrearCompra" enctype="multipart/form-data">
                <input type="hidden" asp-for="CompraId" />
                <input type="hidden" asp-for="RutaImagen" />

                <div asp-validation-summary="ModelOnly"></div>                
                <div class="form-group">
                    <label asp-for="ProveedorId" class="control-label"></label>
                    <input asp-for="ProveedorId" class="form-control" />
                    <span asp-validation-for="ProveedorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProveedorId" class="control-label"></label>
                    <select asp-for="ProveedorId" class="form-control">
                        <option value=""></option>
                       
                    </select>
                    <span asp-validation-for="ProveedorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioTotal" class="control-label"></label>
                    <input asp-for="PrecioTotal" class="form-control" />
                    <span asp-validation-for="PrecioTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaFactura" class="control-label"></label>
                    <input type="date" asp-for="FechaFactura" class="form-control" />
                    <span asp-validation-for="FechaFactura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoFactura" class="control-label"></label>
                    <input asp-for="NoFactura" class="form-control" />
                    <span asp-validation-for="NoFactura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FormaPago" class="control-label"></label>
                    <input asp-for="FormaPago" class="form-control" />
                    <span asp-validation-for="FormaPago" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaInicioPago" class="control-label"></label>
                    <input type="date" asp-for="FechaInicioPago" class="form-control" />
                    <span asp-validation-for="FechaInicioPago" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaRegistro" class="control-label"></label>
                    <input type="date" asp-for="FechaRegistro" class="form-control" />
                    <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Periodicidad" class="control-label"></label>
                    <input asp-for="Periodicidad" class="form-control" />
                    <span asp-validation-for="Periodicidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cuotas" class="control-label"></label>
                    <input asp-for="Cuotas" class="form-control" />
                    <span asp-validation-for="Cuotas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="form-label"></label><br />
                    <input type="file" asp-for="Imagen" accept="image/*" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br />
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
