@model Stilosoft.ViewModels.Compras.CompraInsumosViewModel
@{
    ViewData["Title"] = "Agregar insumos";
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
                <div asp-validation-summary="ModelOnly"></div>
                
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Producto</label>
                            <select asp-items="ViewBag.ListarProducto" class="form-control" id="insumo"></select>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Cantidad</label>
                            <input type="number" value="" class="form-control" id="cantidadInsumo" />
                            <span id="cantidad_error_obligatoria" class="text-danger">La cantidad es obligatoria</span>
                            <span id="cantidad_error_cantidad" class="text-danger">La cantidad debe ser mayor a 0 y menor a 100</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Precio</label>
                            <input type="number" value="" class="form-control" id="costoInsumo" readonly />
                            <span id="precio_error_obligatoria" class="text-danger">El precio es obligatorio</span>
                            <span id="precio_error_cantidad" class="text-danger">El precio debe ser mayor a 0 y menor a 1 millón</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Subtotal</label>
                            <input class="form-control" readonly id="subTotal" />
                            @*<span asp-validation-for="SubTotal" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Iva</label>
                            <input type="number" value="" class="form-control" id="iva" readonly />
                            <span id="iva_error_obligatoria" class="text-danger">El iva es obligatorio</span>
                            <span id="iva_error_cantidad" class="text-danger">El iva debe ser mayor a 0 y menor a 75</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Total</label>
                            <input class="form-control" readonly id="total" />
                            @*<span asp-validation-for="Total" class="text-danger"></span>*@
                        </div>
                    </div>
                </div><br />
                <div class="form-group">
                    <input onclick="agregarInsumo()" type="submit" value="Agregar producto" class="btn btn-primary" />
                </div>
                <span class="text-danger" id="form_error">Alguno de los campos no cumple con los requisitos</span>
        </div>
    </div>     
    <br /><hr /><br />
    <div class="row">
        <div class="col-12">
            <h2>Lista de insumos</h2>
            <form asp-action="CrearDetalle" asp-controller="Compras" method="post">
                <input type="hidden" asp-for="compraId"/>
                <input type="hidden" asp-route-insumoIndex="" id="listaInsumos"/>
                <table id="tablaInsumos" class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Insumo</td>
                            <td>Cantidad</td>
                            <td>Valor</td>
                            <td>Subtotal</td>
                            <td>Iva</td>
                            <td>Precio</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <h3>Total: <span id="totalCompra"></span></h3>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <input id="agregar" type="submit" value="Guardar compra" class="btn btn-block btn-secondary" />
            </form>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@section Scripts {

}
<script>
    $(document).ready(function () {   
        var cantidadInsumo = 0;
        //Esconder los mensajes de los errores
        $("#cantidad_error_obligatoria").hide();
        $("#cantidad_error_cantidad").hide();
        $("#precio_error_obligatoria").hide();
        $("#precio_error_cantidad").hide();
        $("#iva_error_obligatoria").hide();
        $("#iva_error_cantidad").hide();
        $("#form_error").hide();

        $("#costoInsumo").keyup(function () {
            cantidadInsumo = $("#cantidadInsumo").val();
            var costoInsumo = $("#costoInsumo").val();
            $("#iva").val('');
            $("#total").val('');

            $("#subTotal").val(cantidadInsumo * costoInsumo);
            if ($("#subTotal").val() >= 1 && (costoInsumo > 0 && costoInsumo < 1000000)) {
                $("#iva").prop('readonly', false);
            } else {
                $("#iva").prop('readonly', true);
                $("#costoInsumo").val('');
                $("#subTotal").val('');
                $("#iva").val('');
                $("#total").val('');
            }

            if (costoInsumo == '' || costoInsumo == null) {
                $("#precio_error_obligatoria").show();
                $("#precio_error_cantidad").hide();
            } else if (costoInsumo <= 0 || costoInsumo > 1000000) {
                $("#precio_error_cantidad").show();
                $("#precio_error_obligatoria").hide();
            } else {
                $("#precio_error_cantidad").hide();
                $("#precio_error_obligatoria").hide();
            }
        })

        $("#iva").keyup(function () {
            let iva = $("#iva").val();
            let ivaPorcentaje = $("#iva").val() * 0.01;
            let subtotalIva = $("#subTotal").val() * ivaPorcentaje;
            $("#total").val(parseInt($("#subTotal").val()) + subtotalIva);

            if (iva == '' || iva == null) {
                $("#iva_error_obligatoria").show();
                $("#iva_error_cantidad").hide();
            } else if (iva <= 0 || iva > 75) {
                $("#iva_error_cantidad").show();
                $("#iva_error_obligatoria").hide();
            } else {
                $("#iva_error_cantidad").hide();
                $("#iva_error_obligatoria").hide();
            }
        })

        $("#cantidadInsumo").keyup(function () {
            cantidadInsumo = $("#cantidadInsumo").val();
            $("#costoInsumo").val('');
            $("#subTotal").val('');
            $("#iva").val('');
            $("#total").val('');

            if (cantidadInsumo >= 1 && cantidadInsumo <= 100) {
                $("#costoInsumo").prop('readonly', false);
            } else {
                $("#costoInsumo").prop('readonly', true);
                $("#costoInsumo").val('');
                $("#subTotal").val('');
                $("#iva").val('');
                $("#total").val('');
            }

            if (cantidadInsumo == '' || cantidadInsumo == null) {
                $("#cantidad_error_obligatoria").show();
                $("#cantidad_error_cantidad").hide();
            } else if (cantidadInsumo <= 0 || cantidadInsumo > 100) {
                $("#cantidad_error_cantidad").show();
                $("#cantidad_error_obligatoria").hide();
            } else {
                $("#cantidad_error_cantidad").hide();
                $("#cantidad_error_obligatoria").hide();
            }
        })
    })
    var totalCompra = 0;
    var cont = 0;
    function agregarInsumo() {
        let insumoId = $("#insumo option:selected").val();
        let insumoText = $("#insumo option:selected").text();
        let cantidad = $("#cantidadInsumo").val();
        let precio = $("#costoInsumo").val();
        let subtotal = $("#subTotal").val();
        let iva = $("#iva").val();
        let total = $("#total").val();

        if (total != 0 && (cantidad > 0 && cantidad <= 100) && (precio > 0 && precio <= 1000000) && (iva > 0 && iva <= 75)) {
            $("#form_error").hide();
            $("#tablaInsumos").append(`
            <tr id="${cont}">
                <td>
                    <input type="hidden" name="CompraInsumos[${cont}].ProductoId" value="${insumoId}" />     
                    ${insumoText}
                </td>
                <td>
                    <input type="hidden" name="CompraInsumos[${cont}].Cantidad" value="${cantidad}" />
                    ${cantidad}
                </td>
                <td>
                    <input type="hidden" name="CompraInsumos[${cont}].Costo" value="${precio}" />
                    ${precio}
                </td>
                <td>
                    <input type="hidden" name="CompraInsumos[${cont}].SubTotal" value="${subtotal}" />
                    ${subtotal}
                </td>
                <td>
                    <input type="hidden" name="CompraInsumos[${cont}].Iva" value="${iva}" />
                    ${iva}
                </td>
                <td>
                    <input type="hidden" name="CompraInsumos[${cont}].Total" value="${total}" />
                    ${total}                                          
                </td>
                <td>
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" onclick="eliminarInsumo(${cont}, ${total})"></i></button>                                          
                </td>
            </tr>
            `);
            cont++;
            totalCompra = parseInt(totalCompra) + parseInt(total);
            $("#totalCompra").text(totalCompra);
            $("#cantidadInsumo").val('');
            $("#costoInsumo").val('');
            $("#subTotal").val('');
            $("#iva").val('');
            $("#total").val('');
        } else {
            $("#form_error").show();
        }
    }

    function eliminarInsumo(cont, total) {
        totalCompra = parseInt(totalCompra) - parseInt(total);
        $("#totalCompra").text(totalCompra);
        @*let insumosIndex = [];
        insumosIndex.push(cont);
        $("#listaInsumos").attr("asp-route-insumoIndex", insumosIndex)*@
        $("#" + cont).remove();

    }
</script>