@model Stilosoft.ViewModels.Compras.CompraDetalleViewModel

@{
    ViewData["Title"] = "Editar";
  //  Layout = null;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="EditarDetalle" enctype="multipart/form-data">
                <input type="hidden" asp-for="DetalleCompraId" />


                <div class="form-group">
                    <label class="control-label">Producto</label>
                    <select asp-items="ViewBag.ListarProducto" asp-for="ProductoId" class="form-control"></select>
                    <span asp-validation-for="ProductoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InsumoId" class="control-label"></label>
                    <input asp-for="InsumoId" class="form-control" />
                    <span asp-validation-for="InsumoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CantInsumo" class="control-label"></label>
                    <input asp-for="CantInsumo" class="form-control" />
                    <span asp-validation-for="CantInsumo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CantProducto" class="control-label"></label>
                    <input asp-for="CantProducto" class="form-control" />
                    <span asp-validation-for="CantProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Costo" class="control-label"></label>
                    <input asp-for="Costo" class="form-control" />
                    <span asp-validation-for="Costo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Medida" class="control-label"></label>
                    <input asp-for="Medida" class="form-control" />
                    <span asp-validation-for="Medida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Iva" class="control-label"></label>
                    <input asp-for="Iva" class="form-control" />
                    <span asp-validation-for="Iva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar producto" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}